@tailwind base;
@tailwind components;
@tailwind utilities;

.grad-text{
    line-height:7rem;
    background: linear-gradient(100.19deg, #FFFFFF 49.71%, #01B3FF 97.61%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media only screen and (max-width: 800px){
    .grad-text{
        line-height:5rem !important;
    }
}
@media only screen and (max-width: 600px){
    .grad-text{
        line-height:3rem !important;
    }
}